$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb980;
$color-secondary-dark: #ff7730;

$color-thirtary-light: #2998ff;
$color-thirtary-dark: #5643fa;

$color-grey-light1: #f7f7f7;
$color-grey-light2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #080606;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000000;

$default-font-size:1.6rem;

$grid-width:114rem;
$glutter-width:6rem;
$glutter-height:8rem;
$glutter-height-small:6rem;